body {
    margin: 1;
    padding: 1;
}

div {
	/*width:100%;*/
	/*height:80%;*/
    width: 100vw;
    /*height: 60vh;*//*If too big, the background of the buttons obscures everything*/
    /*height: 30%;*/
    /*max-height: 700px;*/  
}

