body {
    margin: 1;
    padding: 1;
}

div {
    width: 100vw;/*20%;*/
    /*height: 30%;*/
    max-height: 700px;
}

/*#3dimage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
}*/